<section class="marcas">
    <div class="container mt-4 py-5">

        <div class="row ">
            <div class="col-6 col-lg-2 col-md-4" *ngFor="let i of categorias">
                <div class="card border-0 mb-3">
                    <div class="card-body">
                        <a [routerLink]="['./listado',i.categoria]">
                        <img [src]="'http://localhost:4000/'+i.img" class="img-fluid"style="border-radius:" alt="alt=">
                        </a>
                        <h6 class="text-center text-dark title-prod">{{i.categoria}}</h6>
                        
                    </div>
                </div>
            </div>
        

        </div>
    </div>
</section>